.root {
    -fx-padding: 20px;
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-border-color: #333;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #e2e2e2;
}
